
@define-color base            #191724;
@define-color surface         #1f1d2e;
@define-color overlay         #26233a;

@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color text            #e0def4;
@define-color love            #eb6f92;
@define-color rose            #ebbcba;
@define-color pine            #31748f;
@define-color gold            #f6c177;
@define-color iris            #c4a7e7;
@define-color foam            #9ccfd8;
* {
    border: none;
    font-family: Mononoki Nerd Font Propo ;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: @base;
    color: @text;
}

#workspaces {
    background-color: transparent;
    border-radius: 20px;
    border: none;
}

#workspaces button {  
  background-color: transparent;
  color: @text;
  border: none;
  border-radius: 20px;
}


#workspaces button.focused {
	background-color: @overlay;
	  padding: 2 10px;
}

#workspaces button.active {
    background: @overlay;
    padding: 2 10px;
    border-radius: 20px;

}

#workspaces button:hover {
    box-shadow: inherit;
	background-color: @overlay;
	border-radius: 20px;
}


#workspaces button.active:hover {
    background: @overlay;
    border-radius: 20px;
}

#custom-weather,
#clock,
#language,
#pulseaudio,
#bluetooth,
#network,
#memory,
#cpu,
#tray {
    padding: 2 10px;
    margin: 5px 1px;
    color: @base;
    border-radius: 20px;
}

#window {
    margin: 0 4px;
}


#clock {
    background-color: @rose;
    color: @base;
}


#cpu {
    background-color: @gold;
    color: @base;
    min-width: 45px;
}

#memory {
    background-color: @iris;
    color: @base;
}


#network {
    background-color: @foam;
    color: @base;
}


#bluetooth {
    background-color: @maroon;
    color: @mantle;
    min-width: 40px;
}

#pulseaudio {
    background-color: @love;
    color: @base;
}

#pulseaudio.muted {
    background-color: red;
    color: @mantle;
}


#mpris {
    color: @text;
    padding: 2 10px;
    color: @text;

}

#tray {
    background-color: @overlay;
    color: @text;
}



